* {
  margin: 0;
  padding: 0;
}

:root {
   --background-default: #F5F4F0;
   --border-primary: #d9d9d9;
   --text-primary: #1b1b1b;
   --text-secundary: #333333;
   --text-tertiary: #696969;
   --text-headline: #e1624f;
   --accent-blue: #0c51a7;
   --accent-orange: #e95e10;
   --accent-pink: #e5245e;
   --accent-purple: #591b98;
   font-family: "Open Sans", sans-serif;
}

body {
  background-color: var(--background-default);
  letter-spacing: 0.1px;
}

main {
  margin: 88px 80px;
}

section {
   margin-bottom: 40px;
}

.headline {
color: var(--text-headline);
text-transform: uppercase;
font-weight: bold;
margin-bottom: 8px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
}

.primary img {
  width: 100%;
  margin top: 40px;
  border-radius: 28px;
}

.subtitle {
  margin-top: 24px;
  margin-bottom: 40px;
  font-style: italic;
  text-align: center;
  color: var(--text-secundary)
}

.divider {
  width: 100%;
  height: 1px;
  margin: 36px 0;
  background-color: var(--border-primary);
}

h2{
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 8px;
}

.secundary div {
  margin: 64px 0;
}

.card_travel {
  list-style: none;
}

li + li {
  margin-top: 48px;
}

.secundary img {
  width: 100%;
  margin-bottom: 20px;
}

h3 {
  font-size: 28px;
  margin-bottom: 4px;
}

.blue {
  color:var(--accent-blue);
}

.purple {
  color: var(--accent-purple);
}

.pink{
  color:var(--accent-pink);
}

.orange {
  color:var(--accent-orange);
}

.center {
  text-align: center;
}

footer {
  text-align: center;
  margin-bottom: 48px;
}